body {
    margin: 0%;

}

.small-nav {
    display: block;
}

:root {
    --Yash: #2FB5E9;
    --White: white;
    --defpadding: 20px --defheight:
}

.Main {
    height: 810vh;
    width: 100%;
}

.logo {
    height: 70px;
    width: 180px;
    position: relative;
    top: 70px;
    left: 30px;
    z-index: 1;

}

.logo img {
    height: 100%;
    width: 100%;
}

.header-main {
    padding: var(--defpadding);
    width: 90%;
    margin-left: 5%;
    position: absolute;
    top: 10px;
    z-index: 2;

}

.header-inside {
    width: 73%;
    position: relative;
    left: 340px;

}

.header-child {
    border-radius: 30px;

}

.header-btn {
    height: 50px;
    width: 120px;
    border-radius: 30px;
    position: relative;
    right: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: var(--Yash);
    border: 1px solid var(--Yash);
    font-size: 15px;
    transition: all 0.3s ease-in;
    overflow: hidden;
}

.header-btn::after {
    content: "";
    height: 100%;
    width: 100%;
    background-color: #f5a824;
    position: absolute;
    top: 60px;
    left: 0px;
    transition: all 0.3s ease-in;

}

.header-btn:hover::after {
    color: white;
    z-index: 1;
    border-radius: 30px;
    position: absolute;
    top: 0px;
    color: white;
}


.header-btn span {
    display: block;
    color: black;
    position: relative;
    top: 0px;
    z-index: 9;
}

.header-btn:hover span {
    color: white;
}

.home-hamburger
{
    height: 40px;
    width: 40px;
    position: absolute;
    top: 6px;
    left:20px;
    display:none;
}
.Home {
    height: 100vh;
    width: 100%;
    position: relative;
    bottom: 12px;
    background-color: red;
    overflow: hidden;
    z-index: 1;
}

.Home video {
    position: relative;
    right: 300px;
    height: 150vh;
    width: 150vw;

}

.Home-info-main {
    height: 340px;
    width: 60%;
    position: absolute;
    bottom: 0px;
    left: 80px;

}

.Home-h1-1 {
    position: relative;
    top: 50px;
    font-weight: 600;
    font-size: 45px;
}

.Home-h1-2 {
    position: relative;
    top: 40px;
    font-weight: 700;
    color: var(--Yash);
    font-size: 45px;

}

.Home-p {
    width: 600px;
    position: relative;
    top: 40px;
    color: white;
}

.Home-btn-1 {
    position: relative;
    top: 40px;
    left: 10px;
}

.Home-btn-2 {
    position: relative;
    top: 40px;
    left: 20px;
}

.page-heading {
    text-align: center;
    position: relative;
    top: 30px;
    font-size: 25px;
    color: var(--Yash);

}

.About {
    height: 500px;
    width: 100%;
    position: relative;
    bottom: 4px;
}

.About-content {
    overflow: hidden;
    height: 100%;
    width: 50%;
    float: right;
}

.About-img {
    height: 100%;
    width: 50%;
    overflow: hidden;
    float: left;
}

@media (max-width:1000px) {
    .About-content {
        float: right;
    }

    .About-img {
        float: left;
    }

    .header-inside {
        display: none;
    }

    .About-img-1 {
        height: 500px;
        width: 600px;
        background-color: red;
        position: relative;
        top: 0px;
        left: 70px;
        border-radius: 30px;

    }
}

.About-img-1 {
    height: 300px;
    width: 300px;
    background-color: red;
    position: relative;
    top: 80px;
    left: 70px;
    border-radius: 30px;

}

.About-img-2 {
    height: 170px;
    width: 230px;
    background-color: yellow;
    position: relative;
    top: -30px;
    left: 280px;
    border-radius: 30px;
}

.About-img-3 {
    height: 170px;
    width: 90px;
    position: relative;
    top: -375px;
    left: 380px;
    overflow: hidden;
}

.About-img-3 img {
    position: relative;
    right: 255px;
    bottom: 60px;
    height: 100%;
    width: 100%;
    border-radius: 30px;
}

.About-content h1 {
    margin: 0%;
    position: relative;
    top: 50px;
    left: 30px;
    font-size: 35px;
    font-weight: 600;
    color: var(--Yash);
    width: 500px;
}

.about-p-1,
.about-p-2 {
    margin: 0%;
    position: relative;
    top: 80px;
    left: 30px;
    width: 580px;
    color: gray;
    font-size: 14px;
}

.about-p-2 {
    position: relative;
    top: 100px;

}

.about-facilities-main {
    height: 150px;
    width: 100%;
    position: relative;
    top: 130px;
}

.about-facilities-h5-1 {
    position: relative;
    top: 30px;
    left: 50px;
    width: 260px;
}

.facilites-img img {
    margin-right: 10px;
}


.about-facilities-h5-2 {
    position: relative;
    top: -5px;
    left: 340px;
    margin: 0%;
    width: 280px;
}

.about-facilities-h5-3 {
    position: relative;
    top: 30px;
    left: 340px;
    margin: 0%;
    width: 280px;
}

.about-facilities-h5-4 {
    position: relative;
    top: 0px;
    left: 50px;
    margin: 0%;
    width: 260px;
}

.about-btn {
    position: relative;
    top: 120px;
    left: 100px;
}

.Service-main {
    height: 100vh;
    width: 100%;
}

.Service-main h1 {
    text-align: center;
    position: relative;
    top: 50px;
    font-family: sans-serif;
    font-size: 35px;
    font-weight: 700;
}

.service-inner-main {
    height: 450px;
    width: 100%;
    position: relative;
    top: 50px;
}

.service-inner-div {
    height: 90%;
    width: 24%;
    background-color: var(--Yash);
    float: left;
    margin: 2%;
    position: relative;
    left: 70px;
    border-radius: 30px;
    overflow: hidden;
    transition: all 1s ease;
}



.Service-image {
    height: 100%;
    width: 100%;
    border-radius: 30px;

}

.service-inner-div::after {
    content: "";
    height: 100%;
    width: 100%;
    background-color: #2FB5E9;
    opacity: 0.5;
    position: absolute;
    z-index: 9;
    top: 500px;
    transition: all 0.4s ease-in-out;
}

.service-inner-div:hover::after {
    top: 0px;
}

.inner-info {
    height: 120px;
    width: 90%;
    background-color: white;
    position: relative;
    bottom: 150px;
    left: 15px;
    border-radius: 20px;
    z-index: 19;
}

.inner-info h1 {
    font-size: 20px;
    position: absolute;
    left: 20px;
    top: 20px;
    margin: 0%;
}

.inner-info p {
    font-size: 18px;
    position: absolute;
    left: 20px;
    top: 50px;
    margin: 0%;
    color: gray;
}

.serivice-inner-img-div {
    height: 80px;
    width: 80px;
    background-color: var(--Yash);
    position: absolute;
    bottom: 300px;
    left: 210px;
    border-radius: 30px;
    z-index: 19;

}

.serivice-inner-img-div img {
    height: 70%;
    width: 70%;
    position: relative;
    top: 10px;
    left: 13px;
}

.work-process-main {
    height: 100vh;
    width: 100%;
}

.work-process-main h1 {
    text-align: center;
    position: relative;
    top: 60px;
}

.work-process-inner-main {
    height: 50vh;
    width: 100%;
    position: relative;
    top: 100px;
}

.process-inner-div-1-parent {
    height: 200px;
    width: 200px;
    border-radius: 30px;
    position: relative;
    left: 130px;
    top: 20px;
    /* background-color: ; */

}

.process-inner-div-2-parent {
    height: 200px;
    width: 200px;
    border-radius: 30px;
    position: relative;
    left: 530px;
    top: -280px;
}

.process-inner-div-3-parent {
    height: 200px;
    width: 200px;
    border-radius: 30px;
    position: relative;
    left: 930px;
    bottom: 580px;
}

.process-inner-div-common {
    height: 150px;
    width: 150px;
    background-color: var(--Yash);
    border-radius: 30px;
    transition: all 1s linear;
    overflow: hidden;
}

.process-inner-div-common::after {
    content: "";
    height: 150px;
    width: 150px;
    background-color: white;
    position: absolute;
    top: 200px;
    left: -200px;
    z-index: 9;
    transition: all 0.5s linear;
    border-radius: 30px;

}

.process-inner-div-common:hover::after {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #1d3a10;
}

.process-inner-div-1 {
    position: absolute;
}

.process-inner-div-2 {
    position: absolute;
}

.process-inner-div-2 img {
    position: relative;
}

.process-inner-div-3 {
    position: absolute;

}

.process-inner-circle-common {
    z-index: 19;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: var(--Yash);
    position: relative;
    top: 40px;
    left: 120px;
    border: 5px solid white;

}

.process-inner-circle-common span {
    margin-left: 6px;
    font-size: 25px;
    font-weight: 600;
}

.process-inner-div-common img {
    height: 90px;
    width: 90px;
    position: relative;
    left: 30px;
    top: 30px;
    z-index: 19;
}

.process-info-div-common {
    height: 100px;
    width: 300px;
}

.process-info-div-common h1 {
    margin: 0%;
    font-size: 25px;
    position: absolute;
    top: 5px;
    left: 50px;
}

.process-info-div-common p {
    position: absolute;
    top: 35px;
    text-align: center;
    font-size: 17px;
    color: gray;
}

.process-info-1 {
    position: relative;
    top: 30px;
    left: 50px;
}

.process-info-2 {
    position: relative;
    bottom: 270px;
    left: 460px;
}

.process-info-3 {
    position: relative;
    bottom: 570px;
    left: 870px;
}

.process-arrow-div {
    height: 50px;
    width: 100px;
    position: absolute;
    left: 360px;
    bottom: 120px;
}

.process-arrow-div img {
    height: 100%;
    width: 100%;
}

.process-arrow-div-2 {
    height: 50px;
    width: 100px;
    position: absolute;
    left: 760px;
    bottom: 120px;
}

.process-arrow-div-2 img {
    height: 100%;
    width: 100%;
}

.Energy-progress-main {
    height: 50vh;
    width: 100%;
    position: relative;
}

.Energy-progress-main h1 {
    position: relative;
    top: 20px;
    left: 30px;
    font-family: sans-serif;
    font-weight: 700;
    width: 600px;
}

.Energy-progress-main p {
    width: 600px;

    position: relative;
    top: 50px;
    left: 30px;
    font-family: sans-serif;
    color: gray;

}

.Energy-progress-inner {
    height: 100%;
    width: 50%;
    position: absolute;
    top: 00px;
    right: 0px;
}

.energy-progress-bar {
    height: 13px;
    width: 90%;
    background-color: rgb(228, 227, 227);
    position: relative;
    top: 0px;
    left: 30px;
    margin-top: 50px;
    border-radius: 30px;
}

.energy-progress-bar-inner-1 {
    height: 100%;
    width: 95%;
    background-color: var(--Yash);
    border-radius: 30px;
}

.energy-progress-bar-inner-2 {
    height: 100%;
    width: 80%;
    background-color: var(--Yash);
    border-radius: 30px;
}

.energy-progress-bar-inner-3 {
    height: 100%;
    width: 70%;
    background-color: var(--Yash);
    border-radius: 30px;
}

.Energy-progress-h1 {
    margin: 0%;
    width: 200px;
    position: relative;
    left: 40px;
    top: 40px;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.Energy-progress-span {
    margin: 0%;
    position: absolute;
    right: 50px;
    font-size: 20px;
    font-weight: 700;
    font-family: sans-serif;
    color: var(--Yash);
}

.contact-div-main {
    height: 40vh;
    width: 95%;
    position: relative;
    top: 50px;
    left: 2.5%;
    border-radius: 50px;
    background-color: rgb(244, 240, 240);
}

.contact-div-img {
    height: 100%;
    width: 30%;
    float: left;
    border-radius: 50px 0px 0px 50px;
}

.contact-div-img img {
    height: 100%;
    width: 100%;
    border-radius: 50px 0px 0px 50px;
}

.contact-div-info {
    height: 100%;
    width: 70%;
    position: absolute;
    right: 0px;
    border-radius: 0px 50px 50px 0px;

}

.contact-div-info h1 {
    position: relative;
    top: 50px;
    left: 50px;
    width: 700px;
}

.contact-div-info span {
    color: var(--Yash);
}

.contact-div-info p {
    position: relative;
    top: 60px;
    left: 50px;
    font-size: 18px;
    color: gray;
    width: 750px;
}

.contact-bttn {
    height: 100px;
    width: 100px;
    background-color: white;
    position: absolute;
    left: -50px;
    bottom: 75px;
    border-radius: 50%;
}

.contact-bttn-inner {
    height: 85px;
    width: 85px;
    background-color: var(--Yash);
    z-index: 10;
    border-radius: 50%;
    position: absolute;
    top: 7%;
    left: 7%;
    transition: all 0.5s linear;
    overflow: hidden;
}

.contact-bttn-inner img {
    height: 70%;
    width: 70%;
    position: relative;
    top: 12px;
    left: 12px;
    z-index: 19;
}

.contact-bttn-inner::after {
    content: " ";
    height: 85px;
    width: 85px;
    background-color: #1d3a10;
    z-index: 10;
    border-radius: 50%;
    position: absolute;
    top: 100px;
    left: -100px;
    transition: all 0.5s linear;
}

.contact-bttn-inner:hover::after {
    position: absolute;
    top: 0px;
    left: 0%;
}

.Solution-div-1 {
    height: 250px;
    width: 280px;
    border-radius: 50px;
    background-color: var(--Yash);
}

.Solution-div-2 {
    height: 250px;
    width: 280px;
    border-radius: 50px;
    background-color: var(--Yash);
}

.Solution-div-3 {
    height: 250px;
    width: 280px;
    border-radius: 50px;
    background-color: var(--Yash);
}

.Solution-div-4 {
    height: 250px;
    width: 280px;
    border-radius: 50px;
    background-color: var(--Yash);
}

.Solar-Solutions {
    height: 80vh;
    width: 100%;
    position: relative;
    top: 100px;
}

.Solution-div {
    height: 250px;
    width: 280px;
    border-radius: 50px;

}

.Solution-div-1 {
    transition: all 1s linear;
    overflow: hidden;
    position: relative;

}

.Solution-div-1::after {
    content: "";
    background-color: white;

    height: 250px;
    width: 280px;
    top: 0px;
    left: 0px;
    position: absolute;
    border-radius: 50px;
    transition: all 1s linear;
}

.Solution-div-1:hover::after {
    content: "";
    top: -300px;
    left: 220px;
    position: absolute;
}

.Solution-div-2 {
    transition: all 1s linear;
    overflow: hidden;
    position: relative;

}

.Solution-div-2::after {
    content: "";
    background-color: white;

    height: 250px;
    width: 280px;
    top: 0px;
    left: 0px;
    position: absolute;
    border-radius: 50px;
    transition: all 1s linear;
}

.Solution-div-2:hover::after {
    content: "";
    top: -300px;
    left: 220px;
    position: absolute;
}

.Solution-div-3 {
    transition: all 1s linear;
    overflow: hidden;
    position: relative;

}

.Solution-div-3::after {
    content: "";
    background-color: white;

    height: 250px;
    width: 280px;
    top: 0px;
    left: 0px;
    position: absolute;
    border-radius: 50px;
    transition: all 1s linear;
}

.Solution-div-3:hover::after {
    content: "";
    top: -300px;
    left: 220px;
    position: absolute;
}

.Solution-div-4 {
    transition: all 1s linear;
    overflow: hidden;
    position: relative;

}

.Solution-div-4::after {
    content: "";
    background-color: white;

    height: 250px;
    width: 280px;
    top: 0px;
    left: 0px;
    position: absolute;
    border-radius: 50px;
    transition: all 1s linear;
}

.Solution-div-4:hover::after {
    content: "";
    top: -300px;
    left: 220px;
    position: absolute;
}




.Solar-solution-heading {
    height: 20%;
    width: 100%;
}

.Solar-solution-main-div {
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Solar-solution-heading h1 {
    text-align: center;
    position: relative;
    top: 50px;
}

.Solution-div h1 {
    font-size: 27px;
    position: relative;
    top: 50px;
    left: 20px;
    z-index: 1;
}

.Solution-div p {
    position: relative;
    top: 50px;
    left: 20px;
    width: 270px;
    color: gray;
    font-size: 18px;
    z-index: 1;
}

.Solution-div img {
    height: 60px;
    width: 60px;
    z-index: 1;
    margin: 0%;
    position: relative;
    left: 20px;
    top: 40px;
}

.solution-img-div-1 {
    background-image: url(./images/whyus-1.jpg);
    background-size: cover;
}

.solution-img-div-2 {
    background-image: url(./images/whyus-2.jpg);
    background-size: cover;
}

.solution-img-div-3 {
    background-image: url(./images/whyus-3.jpg);
    background-size: cover;
}

.solution-img-div-4 {
    background-image: url(./images/whyus-4.jpg);
    background-size: cover;
}



.latest-news-main {
    height: 100vh;
    width: 100%;
    position: relative;
    top: 110px;
}

.latest-news-main h1 {
    text-align: center;
    position: relative;
    top: 50px;
    font-family: sans-serif;
    font-size: 35px;
    font-weight: 700;
}

.news-inner-main {
    height: 80%;
    width: 100%;
    position: relative;
    top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.news-inner-div-common {
    height: 90%;
    width: 30%;
    background-color: red;
    border-radius: 50px;
    overflow: hidden;
}

.news-inner-div-common img {
    height: 100%;
    width: 100%;

    border-radius: 50px;
    scale: 1.5;
    /* background-position:center; */
}

.news-inner-info {
    height: 140px;
    width: 340px;
    background-color: white;
    border-radius: 30px;
}

.news-innder-div-1 {
    position: absolute;
    bottom: 50px;
    left: 40px;
}

.news-innder-div-2 {
    position: absolute;
    bottom: 50px;
    left: 460px;
}

.news-innder-div-3 {
    position: absolute;
    bottom: 50px;
    right: 40px;
}

.news-inner-info h1 {
    font-size: 21px;
    position: absolute;
    left: 10px;
    top: 25px;
    text-align: left;
}

.Branding {
    height: 130px;
    width: 100%;
    position: relative;
    top: 120px;
}

.Branding h1 {
    color: var(--Yash);
    font-size: 100px;
}

.Footer {
    height: 100vh;
    width: 100%;
    background-color: #1d3a10;
    position: relative;
    top: 200px;
    display: grid;
    grid-template-rows: 20% 60% 20%;

}

.Footer-top {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-top-img {
    height: 70%;
    width: 70%;
    position: relative;
    top: 10px;
    left: 15px;
}

.footer-top-div-coommon {
    height: 100px;
    width: 100px;
    background-color: var(--Yash);
    border-radius: 40px;
}

.footer-1-info-div-1 h1 {
    font-size: 30px;
    color: white;
}

.footer-1-info-div-1 span {
    font-size: 20px;
    color: white;
}

.footer-1-info-div-2 h1 {
    font-size: 30px;
    color: white;
}

.footer-1-info-div-2 span {
    font-size: 20px;
    color: white;
}

.footer-1-info-div-3 h1 {
    font-size: 30px;
    color: white;
}

.footer-1-info-div-3 span {
    font-size: 20px;
    color: white;
}

.footer-info-common {
    height: 100px;
    width: 280px;
}

.Footer-main {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 30% 70%;
}

.Footer-main-1 {
    height: 100%;
    width: 100%;
}

.Footer-main-2 {
    height: 100%;
    width: 100%;
    color: white;
}

.footer-1-logo {
    height: 100px;
    width: 100px;
    position: relative;
    top: 30px;
    left: 20px;
}

.footer-1-logo h1 {
    position: relative;
    left: 110px;
    top: 10px;
    font-size: 70px;
    font-family: sans-serif;
    color: white;
    font-weight: 600;
}

.Footer-main-1 p {
    position: relative;
    top: 50px;
    left: 20px;
    width: 350px;
    font-size: 18px;
    color: white;
}

.footer-1-social-media {
    height: 30px;
    width: 200px;
    position: relative;
    top: 50px;
    left: 20px;
}

.footer-2-list-1 {
    font-size: 23px;
    position: relative;
    top: 100px;
    left: 100px;
    width: 300px;
}

.footer-2-list-2 {
    font-size: 23px;
    position: relative;
    top: -88px;
    left: 370px;
    width: 300px;
}

.footer-2-list-3 {
    font-size: 23px;
    position: absolute;
    top: 259px;
    right: 0px;
    width: 250px;
}

.footer-2-h2-1 {
    margin: 0%;
    width: 300px;
    position: relative;
    top: 80px;
    left: 80px;
    width: 300px;
}

.footer-2-h2-2 {
    margin: 0%;
    width: 300px;
    position: absolute;
    top: 200px;
    left: 770px;
    width: 300px;
}

.footer-2-h2-3 {
    margin: 0%;
    width: 300px;
    position: absolute;
    top: 200px;
    right: 30px;
    width: 200px;
}

.footer-list-common li:hover {
    color: var(--Yash);
}

.Footer-bottom {
    height: 100%;
    width: 100%;
}

.footer-bottom-inner {
    height: 100px;
    width: 90%;
    position: absolute;
    left: 5%;
    top: 81.5%;
    border-radius: 50px;
    color: white;
    background-color: var(--Yash);
}

.footer-bottom-inner p {
    position: absolute;
    top: 30px;
    left: 400px;
    font-size: 20px;
}

@media (max-width:480px) {
    .Main {
        height: 1600vh;
        width: 100%;
    }
    
    .header-main {
        width: 90%;
        height: 70px;
        background-color: white;
        border-radius: 30px;
    }
    .home-hamburger
    {
        height: 40px;
        width: 40px;
        position: absolute;
        bottom:-10px;
        left:270px;
        display:block;
    }
    #display {
        display: none;
    }

    .nav-item {
        display: none;
    }

    .header-btn {
        /* display: none; */
    }

    .logo {
        height: 50px;
        width: 150px;
        position: relative;
        top: 0px;
        left: 0px;
        z-index: 1;

    }

    .logo img {
        height: 150%;
        width: 150%;
    }

    .Home {
        height: 90vh;
        width: 100%;
        position: relative;
        bottom: 12px;
        overflow: hidden;
        z-index: 1;
    }

    .Home video {
        position: relative;
        right: 300px;
        height: 200vh;
        width: 780%;
    }

    .home-hamburger
    {
        display: block;
        position: absolute;
        top: 30px;
        z-index: 30px;
    }
    .Home-info-main {
        height: 380px;
        width: 100%;
        position: absolute;
        bottom: 20px;
        left: 0px;
    }

    .Home-h1-1 {
        position: relative;
        top: 50px;
        font-weight: 600;
        font-size: 35px;
    }

    .Home-h1-2 {
        position: relative;
        top: 35px;
        font-weight: 700;
        color: var(--Yash);
        font-size: 45px;

    }

    .Home-p {
        width: 100%;
        position: relative;
        top: 40px;
        color: white;
        font-size: 15px;
    }

    .About-content {
        overflow: hidden;
        height: 100%;
        width: 50%;
        float: right;
    }

    .About-img {
        height: 100%;
        width: 100%;
        overflow: hidden;
        float: left;
    }

    .About-img-1 {
        height: 300px;
        width: 90%;
        background-color: red;
        position: relative;
        top: 30px;
        left: 20px;
        border-radius: 30px;
    }

    .About-img-2 {
        position: relative;
        left: 130px;
        top: -50px;
    }

    .About-img-3 {

        display: none;
    }

    .About {
        height: 160vh;
        width: 100%;
        position: relative;
        bottom: 4px;
    }

    .About-content {
        height: 60%;

    }

    .About-img {
        height: 40%;
    }

    .About-content h1 {
        margin: 0%;
        position: relative;
        top: 50px;
        left: 20px;
        font-size: 28px;
        font-weight: 600;
        color: var(--Yash);
        width: 400px;
    }

    .about-p-1,
    .about-p-2 {
        margin: 0%;
        position: relative;
        top: 80px;
        left: 20px;
        width: 330px;
        color: gray;
        font-size: 14px;
    }

    .about-p-2 {
        position: relative;
        top: 100px;

    }

    .about-facilities-h5-1 {
        position: relative;
        top: 0px;
        left: 20px;
        width: 260px;
    }

    .facilites-img img {
        margin-right: 10px;
    }


    .about-facilities-h5-2 {
        position: relative;
        top: 5px;
        left: 20px;
        margin: 0%;
        width: 280px;
    }

    .about-facilities-h5-3 {
        position: relative;
        top: 15px;
        left: 20px;
        margin: 0%;
        width: 280px;
    }

    .about-facilities-h5-4 {
        position: relative;
        top: 25px;
        left: 20px;
        margin: 0%;
        width: 260px;
    }

    .about-btn {
        position: relative;
        top: 150px;
        left: 20px;
    }

    .Service-main {
        height: 220vh;
        width: 100%;
    }

    .Service-main h1 {
        text-align: center;
        position: relative;
        top: 50px;
        font-family: sans-serif;
        font-size: 28px;
        font-weight: 700;
    }

    .service-inner-div {
        height: 90%;
        width: 95%;
        background-color: var(--Yash);
        float: left;
        margin: 0%;
        position: relative;
        left: 10px;
        border-radius: 30px;
        overflow: hidden;
        transition: all 1s ease;
        margin-top: 30px;
    }

    .serivice-inner-img-div {
        height: 80px;
        width: 80px;
        background-color: var(--Yash);
        position: absolute;
        bottom: 310px;
        left: 250px;
        border-radius: 30px;
        z-index: 19;
    }

    .inner-info {
        height: 150px;
        width: 90%;
        background-color: white;
        position: relative;
        bottom: 180px;
        left: 15px;
        border-radius: 20px;
        z-index: 19;
    }

    .inner-info h1 {
        font-size: 25px;
        position: absolute;
        left: 20px;
        top: 10px;
        margin: 0%;
    }

    .inner-info p {
        font-size: 18px;
        position: absolute;
        left: 20px;
        top: 50px;
        margin: 0%;
        color: gray;
        width: 300px;
    }

    .work-process-inner-main {
        height: 50vh;
        width: 100%;
        position: relative;
        top: 100px;
    }

    .process-arrow-div {
        display: none;
    }

    .process-arrow-div-2 {
        display: none;
    }

    .process-inner-div-2-parent {
        position: relative;
        top: 50px;
        left: 130px;
    }

    .process-info-2 {
        position: relative;
        left: 50px;
        top: 70px;
    }

    .process-inner-div-3-parent {
        position: relative;
        top: 50px;
        left: 130px;
    }

    .process-info-3 {
        position: relative;
        left: 50px;
        top: 70px;
    }

    .work-process-main {
        height: 180vh;
        width: 100%;
    }

    .work-process-main>h1 {
        position: relative;
        top: 100px;
    }

    .contact-div-main {
        height: 80vh;
        width: 95%;
        position: relative;
        border-radius: 50px;
        background-color: rgb(244, 240, 240);

    }


    .contact-div-img {
        height: 40%;
        width: 100%;
        float: left;
        border-radius: 50px 0px 0px 50px;

    }

    .contact-div-img img {
        height: 40%;
        width: 100%;
        border-radius: 50px 50px 0px 0px;
        position: absolute;
        top: 0px;
    }

    .contact-div-info {
        height: 70%;
        width: 100%;
        position: absolute;
        bottom: 0px;
        border-radius: 0px 50px 50px 0px;

    }

    .contact-div-info h1 {
        position: relative;
        top: 120px;
        left: 60px;
        width: 100%;
        width: 290px;
    }

    .contact-div-info span {
        color: var(--Yash);
        position: relative;
        left: 0px;
    }

    .contact-div-info p {
        position: relative;
        top: 130px;
        left: 10px;
        font-size: 20px;
        color: gray;
        width: 98%;
        text-align: center;
    }

    .contact-bttn {
        height: 100px;
        width: 100px;
        background-color: white;
        position: absolute;
        left: 140px;
        bottom: 270px;
        border-radius: 50%;
    }

    .Energy-progress-main {
        height: 85vh;
        width: 100%;
        position: relative;
    }

    .Energy-progress-main h1 {
        position: relative;
        top: 20px;
        left: 10px;
        font-family: sans-serif;
        font-weight: 700;
        width: 350px;
        font-size: 25px;
    }

    .Energy-progress-main p {
        width: 360px;
        position: relative;
        top: 50px;
        left: 10px;
        font-family: sans-serif;
        color: gray;
        font-size: 18px;
    }

    .Energy-progress-inner {
        height: 100%;
        width: 50%;
        position: absolute;
        top: 300px;
        left: 10px;
    }

    .energy-progress-bar {
        height: 13px;
        width: 340px;
        background-color: rgb(228, 227, 227);
        position: relative;
        top: -100px;
        left: 10px;
        margin-top: 50px;
        border-radius: 30px;
    }

    .Energy-progress-h1 {
        margin: 0%;
        width: 200px;
        position: relative;
        left: 20px;
        top: -40px;
        font-family: sans-serif;
        font-size: 24px;
        font-weight: 600;
    }

    .Energy-progress-span {
        margin: 0%;
        position: relative;
        right: -300px;
        bottom: 65px;
        font-size: 20px;
        font-weight: 700;
        font-family: sans-serif;
        color: var(--Yash);

    }
    .Solar-solution-main-div {
        height: 80%;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
        bottom: 100px;
    }
    .Solar-Solutions {
        height: 200vh;
        width: 100%;
        position: relative;
        top: 100px;
    }
    
    .Solution-div {
        height: 250px;
        width: 100%;
        border-radius: 20px;
    }


    .Solution-div-1 {
        height: 250px;
        width:92%;
        border-radius: 20px;
        background-color: var(--Yash);
    }
    
    .Solution-div-2 {
        height: 250px;
        width:92%;
        border-radius: 20px;
        background-color: var(--Yash);
    }
    
    .Solution-div-3 {
        height: 250px;
        width:92%;
        border-radius: 20px;
        background-color: var(--Yash);
    }
    
    .Solution-div-4 {
        height: 250px;
        width:92%;
        border-radius: 20px;
        background-color: var(--Yash);
    }
    .Solution-div-1::after {
        content: "";
        border-radius: 20px;
        width: 100%;
    }
    .Solution-div-2::after {
        content: "";
        border-radius: 20px;
        width: 100%;
    }
    .Solution-div-3::after {
        content: "";
        border-radius: 20px;
        width: 100%;
    }
    .Solution-div-4::after {
        content: "";
        border-radius: 20px;
        width: 100%;
    }
    .Solution-div-5::after {
        content: "";
        border-radius: 20px;
        width: 100%;
    }
    .latest-news-main {
        height: 250vh;
        width: 100%;
        position: relative;
        top: 110px;
    }
    .news-inner-main {
        height:90%;
        width: 100%;
        position: relative;
        top: 50px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .news-inner-div-common {
        height: 450px;
        width: 95%;
        background-color: red;
        border-radius: 50px;
        overflow: hidden;
    }
    .news-inner-info {
        height: 140px;
        width: 340px;
        background-color: white;
        border-radius: 30px;
    }
    
    .news-innder-div-1 {
        position: absolute;
        top: 400px;
        left: 30px;
    }
    
    .news-innder-div-2 {
        position: absolute;
        bottom: 830px;
        left: 30px;
    }
    
    .news-innder-div-3 {
        position: absolute;
        bottom:130px;
        left: 30px;
    }
.Branding {
    height: 130px; 
    width: 100%;
    position: relative;
    top: 50px;
}

.Branding h1 {
    color: var(--Yash);
    font-size: 80px;
}
.Footer {
    height: 300vh;
    width: 100%;    
    position: relative;
    top: 100px;
    display: grid;
    grid-template-rows: 25% 65% 10%;
}

.Footer-top {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.footer-top-img {
    height: 70%;
    width: 70%;
    position: relative;
    top: 10px;
    left: 15px;
}

.footer-top-div-coommon {
    height: 100px;
    width: 100px;
    background-color: var(--Yash);
    border-radius: 40px;
    position: relative;
    left: -130px;
    top: 50px;
}



.footer-1-info-div-1 h1 {
    font-size: 30px;
    color: white;
    width: 240px;
}


.footer-1-info-div-2 h1 {
    font-size: 30px;
    color: white;
    width: 253px;
}


.footer-1-info-div-3 h1 {
    font-size: 30px;
    color: white;
    width: 240px;

}

.footer-info-common {
    height: 100px;
    width: 247px;
    position: relative;
    bottom: 20px;
    left: 60px;
}

.Footer-main {
    height: 100%;
    width: 100%;
    position: relative;
    display: grid;
    grid-template-rows: 25% 75%;
    grid-template-columns: 100%;
    
}

.Footer-main-1 {
    height: 100%;
    width: 100%;
}

.Footer-main-2 {
    height: 100%;
    width: 100%;
    color: white;
}

.footer-1-logo {
    height: 100px;
    /* width: 600px; */
    position: relative;
    top: 30px;
    left: 10px;
}

.footer-2-list-1 {
    font-size: 23px;
    position: relative;
    top: -40px;
    left: 30px;
    width: 300px;
    font-size: 30px;
}

.footer-2-list-2 {
    font-size: 23px;
    position: relative;
    top:100px;
    left: 30px;
    width: 300px;
    font-size: 30px;
}

.footer-2-list-3 {
    font-size: 23px;
    position: absolute;
    top: 1200px;
    left: 30px;
    width: 330px;
    font-size: 30px;
}


.footer-2-h2-1 {
    margin: 0%;
    width: 300px;
    position: relative;
    top: -50px;
    left: 30px;
    width: 300px;
    font-size: 40px;
    color: #2FB5E9;
}

.footer-2-h2-2 {
    margin: 0%;
    width: 300px;
    position: absolute;
    top: 730px;
    left: 35px;
    width: 300px;
    color: #2FB5E9;
    font-size: 40px;

}

.footer-2-h2-3 {
    margin: 0%;
    position: absolute;
    top: 1150px;
    left: 30px;
    width: 280px;
    font-size: 40px;
    color: #2FB5E9;

}


.Footer-bottom {
    height: 100%;
    width: 100%;
    position: relative;
}

.footer-bottom-inner {
    height: 150px;
    width: 95%;
    position: absolute;
    left: 2.5%;
    top: 10%;
    border-radius: 50px;
    color: white;
    background-color: var(--Yash);
}

.footer-bottom-inner p {
    position: absolute;
    top: 30px;
    left: 20px;
    font-size: 25px;
    width:300px ;
    text-align: center;
}
}